body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  min-width: 380px;
  max-width: 1280;
}
input {
  font-size: 14px;
}
input:focus, textarea:focus {
  outline: none;
}
input.active:focus {
  border-bottom: 2px solid $color-secondary;
}
textarea.active:focus {
  border: 2px solid $color-secondary;
}
