.name-wrapper {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  display: block;
  border: none;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 18px;
    font-family: $font-primary;
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 18px;
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 18px;
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
    color: #000;
  }

  @media only screen and (min-width: $breakpoint) {
    width: 550px;
  }
  input {
    width: 80%;
    height: 50px;
    line-height: 2em;
    border: none;
    border-bottom: 2px solid $color-secondary;
    @media only screen and (min-width: $breakpoint) {
      width: 524px;
    }
    &:focus {
      border-bottom: 5px solid $color-secondary;
    }


  }
  label {
    color: $color-secondary;
    display: block;
    width: 8em;
    font-size: 16px;
  }
}
