// Fonts

// Colors
$color-primary: #C7C2B9;// light-gray
$color-dark-gray: #696969;
$color-secondary: #4783AD; // blue
$color-accent: #C23750; // red
$color-light-light-gray: #D2D2D2; // breadcrumb

$color-toggle-text: #565656;
$color-placeholder-text: #C7C2B9;

$color-inactive-radio: #C7C2B9;
