header {
  border-top: 4px solid $color-accent;
  border-bottom: 1px solid $color-primary;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: 100%;
  @media only screen and (min-width: $breakpoint) {
    width: 100%;
  }
  .header-wrapper {
    h1 {
      text-align: center;
      color: $color-accent;
      font-weight: 400;
      font-size: 24px;
    }
    ul.breadcrumbs {
      text-align: center;
      list-style-type: none;
      padding: 0;
      width: 100%;
      color: $color-primary;
      li {
        display: inline-block;
        margin: 0.5em;
        font-size: 14px;
        letter-spacing: 0.05em;
        &:hover {
          cursor: pointer;
        }
      }
      li:not(:last-child):after {
        content: ' >';
        padding-left: 1em;
      }
    }
  }
}
.active-crumb {
  color: $color-secondary;
  &:after {
    color: #000;
  }
}

