.radio-wrapper {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  width: 320px;
  border: none;
  label {
    display: inline-block;
    cursor: pointer;
    line-height: 2.5;
    font-size: 1em;
    margin-right: 1.5em;
  }
  [type="radio"] + span {
    display: inline-block;
  }
  [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  // Unchecked style
  [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 2px solid $color-primary;
    box-sizing: border-box;
    background: $color-primary;
    margin-right: 0.75em;
    transition: 0.2s ease all;
  }
  // Checked style
  [type="radio"]:checked + span:before {
    border: 3px solid $color-secondary;
    background: #fff;
  }
  [type="radio"]:focus + span:after {
    line-height: 1;
  }
}

